<div class="center jumbotron">

    <h1>Sample app Home page</h1>

    <p>Dramatically provide access to client-focused functionalities and client-
      centered markets. Conveniently disseminate enterprise channels without
      compelling technology. Dynamically reinvent high-payoff information with
      sticky solutions. Quickly
    </p>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails-logo.svg", alt: "Rails logo"), 'http://rubyonrails.org/' %>

<%#= yeller(['o', 'l', 'd']) %>
<%#= random_subdomain %>
<%#= string_shuffle("foobar") %>
<%# palindrome?("foobar") %>
<%# palindrome?("rar") %>
